@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-bg:rgb(255,255,255);
  --white:rgb(255,255,255);
  --color-text-900:rgb(0,0,0);
  --color-text-700:rgb(58,58,58);
  --color-text-500:rgb(85,85,85);
  --color-text-300:rgb(138,138,138) ;
  --color-text-100:rgb(207,207,207);
  --color-btn:rgb(40,40,107);
  --green-400:rgb(74,222,128);
  --indigo-900:rgb(49,46,129);
  --indigo-700:rgb(64,61,146);
  --indigo-600:rgb(94,92,175);
  --indigo-hue:rgba(64, 61, 146,0.5);
}

.dark {
  --color-bg:#000;

}